/* typeface definitions */
@import url("typefaces/typeface-definitions.css");

html { font-family: "Open Sans"; font-size: 15px; color: black;}
a { text-decoration: none; }
html, body { margin: 0; padding: 0; }

/* generics */
.miniprofile img.avatar {
  box-shadow: 0 -1px 1px white inset, 0 1px 1px black inset;
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 9999px;
}
